
/* 自定义滚动条 */
[data-v-fb44e771]::-webkit-scrollbar {
  width: 6px;
}
[data-v-fb44e771]::-webkit-scrollbar-track {
  background: #374151;
}
[data-v-fb44e771]::-webkit-scrollbar-thumb {
  background: #6b7280;
  border-radius: 3px;
}
[data-v-fb44e771]::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}
